condaScript=$(dirname "$CONDA_EXE")/../etc/profile.d/conda.sh
if [ -e "$condaScript" ]
then
  echo "Activating conda environment"
  . "$condaScript"
  conda activate scijava
else
  echo "No conda installation detected; skipping activation"
fi
